In [35]:
import pandas as pd

In [36]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [37]:
df.race.value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [38]:
men_avg_age = round(df[df['sex'] == 'Male']['age'].mean(),2)

In [39]:
men_avg_age

np.float64(39.43)

In [40]:
degree_count = round((df['education'].value_counts(normalize=True)['Bachelors'] * 100), 1)

In [41]:
degree_count

np.float64(16.4)

In [ ]:
higher_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
lower_education = df['education'].isin([
    'HS-grad', 'Some-college', 'Assoc-acdm', 'Assoc-voc',
    '11th', '9th', '7th-8th', '12th', '10th', '1st-4th',
    '5th-6th', 'Preschool'
])

higher_education_pr = round((df[higher_education]['salary'] == '>50K').mean() * 100, 2)
lower_education_pr = round((df[lower_education]['salary'] == '>50K').mean() * 100, 2
                           )

In [46]:
higher_education_pr

np.float64(46.54)

In [47]:
lower_education_pr

np.float64(16.05)

In [48]:
min_work_hours = df['hours-per-week'].min()
min_work_hours

np.int64(1)

In [49]:
min_workers = df[df['hours-per-week'] == min_work_hours]
percentage = round((min_workers['salary'] == '>50K').mean() * 100, 1)
percentage

np.float64(10.0)

In [51]:
country = (df[df['salary'] == '>50K']['native-country']
                .value_counts() / df['native-country'].value_counts()) * 100
country.head()

native-country
?           25.042882
Cambodia    36.842105
Canada      32.231405
China       26.666667
Columbia     3.389831
Name: count, dtype: float64

In [52]:
highest_earning_country = country.idxmax()
highest_earning_country_percentage = round(country.max(), 2)
highest_earning_country_percentage

np.float64(41.86)

In [53]:
top_occupation = (df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
                     ['occupation'].value_counts().idxmax())
top_occupation

'Prof-specialty'